{
    auto_https off
}

http://api.symmetrical-potato.com, http://api:9000 {
    root * /www/app/public
    encode zstd gzip
    file_server

    php_fastcgi php:9000 {
        resolve_root_symlink
    }

    @phpFile {
        path *.php*
    }

    error @phpFile "Not found" 404
}

http://pma.symmetrical-potato.com {
    reverse_proxy * phpmyadmin:80
}

http://mailcatcher.symmetrical-potato.com {
    reverse_proxy * mailcatcher:1080
}

http://rabbitmq.symmetrical-potato.com {
    reverse_proxy * rabbitmq:15672
}

http://symmetrical-potato.com {
    reverse_proxy * front:3000
}

http:// {
    respond "Not found" 404
}
