node_modules
scripts
.next
.docker
README.md
LICENSE

**/*.log
**/*.md
**/*.dist
**/*.cache
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
.github/
docs/
tests/
.editorconfig
.env.*.local
.env.local
.env.test
.env
