parameters:
    level: 6
    paths:
        - config/
        - migrations/
        - src/
        - tests/
    ignoreErrors:
        - '#^Asserted type string for \$attribute with type string does not narrow down the type\.$#'
        - '#^Asserted type mixed for \$subject with type mixed does not narrow down the type\.$#'
